* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #000d0f;
	font-family: 'Poppins', sans-serif;
}
.container {
	position: relative;
	width: 80px;
	height: 50px;
	border-radius: 40px;
	border: 2px solid rgba(255, 255, 255, .2);
	transition: .5s;
}
.container:hover {
	width: 120px;
	border: 2px solid rgba(255, 255, 255, 1);
}
.next {
	position: absolute;
	top: 50%;
	right: 30px;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	z-index: 1;
	transform: translateY(-50%) rotate(135deg);
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
}
.container:hover .next {
	visibility: visible;
	opacity: 1;
	right: 20px;
}
.prev {
	position: absolute;
	top: 50%;
	left: 30px;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	z-index: 1;
	transform: translateY(-50%) rotate(315deg);
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
}
.container:hover .prev {
	visibility: visible;
	opacity: 1;
	left: 20px;
}
.box {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
}
.box span {
	text-align: center;
	color: #00deff;
	font-size: 24px;
	font-weight: 700;
}